<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.graduation.mapper.TaskMapper">
    
    <resultMap type="Task" id="TaskResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="target"    column="target"    />
        <result property="uploadRegexName"    column="upload_regex_name"    />
        <result property="filename"    column="filename"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="extName"    column="ext_name"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTaskVo">
        select id, title, description, start_time, end_time, type, status, target, upload_regex_name, filename, teacher_id, ext_name, update_time from task
    </sql>

    <select id="selectTaskList" parameterType="Task" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="uploadRegexName != null  and uploadRegexName != ''"> and upload_regex_name like concat('%', #{uploadRegexName}, '%')</if>
            <if test="filename != null  and filename != ''"> and filename like concat('%', #{filename}, '%')</if>
            <if test="teacherId != null "> and teacher_id = #{teacherId}</if>
            <if test="extName != null  and extName != ''"> and ext_name like concat('%', #{extName}, '%')</if>
        </where>
    </select>
    
    <select id="selectTaskById" parameterType="Long" resultMap="TaskResult">
        <include refid="selectTaskVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTask" parameterType="Task" useGeneratedKeys="true" keyProperty="id">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="description != null">description,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="target != null and target != ''">target,</if>
            <if test="uploadRegexName != null">upload_regex_name,</if>
            <if test="filename != null">filename,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="extName != null">ext_name,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="target != null and target != ''">#{target},</if>
            <if test="uploadRegexName != null">#{uploadRegexName},</if>
            <if test="filename != null">#{filename},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="extName != null">#{extName},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTask" parameterType="Task">
        update task
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="target != null and target != ''">target = #{target},</if>
            <if test="uploadRegexName != null">upload_regex_name = #{uploadRegexName},</if>
            <if test="filename != null">filename = #{filename},</if>
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="extName != null">ext_name = #{extName},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTaskById" parameterType="Long">
        delete from task where id = #{id}
    </delete>

    <delete id="deleteTaskByIds" parameterType="String">
        delete from task where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>